<footer class="footer">
    <div class="cont_r">
      <div class="footer-block">
        <a href="index.html" class="logo footer-logo">
          <img src="/assets/logo.svg" alt="Logo" />
        </a>
        <nav class="footer-nav">
          <a href="#" class="footer-link">Ресторанам</a>
          <a href="#" class="footer-link">Курьерам</a>
          <a href="#" class="footer-link">Пресс-центр</a>
          <a href="#" class="footer-link">Контакты</a>
        </nav>
        <div class="social-links">
          <a href="#" class="social-link"
            ><img src="/assets/inst.svg" alt="instagram"
          /></a>
          <a href="#" class="social-link"
            ><img src="/assets/fb.svg" alt="facebook"
          /></a>
          <a href="#" class="social-link"
            ><img src="/assets/vk.svg" alt="vk"
          /></a>
        </div>
      </div>
    </div>
</footer>