<!DOCTYPE html>
<html>
    {{> head title="SignIn"}}
    <body>
        <main>
            <div class="cont_r">
                <section>
                    <h3 class="section-title sign-title">Вход</h3>
                    <div>
                        <form class="sign-form" id="loginForm">
                            <div class="input_field">
                                <input class="input" type="text" name="username" placeholder="Username" />
                            </div>
                            <div class="input_field">
                                <input class="input" type="password" name="password" placeholder="Password" />
                            </div>
                            <div class="error-message" id="error-message" style="color: red;"></div>
                            <div class="sign-info">
                                Don't have an account yet?<br> <a href="/signUp" style="color: #1890ff;">Sign up</a> in a few easy steps.
                            </div>
                            <div class="sign-bottom">
                                <button class="button button-primary" type="submit">Войти</button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </main>
    </body>
    <script src="js/signIn.js"></script>
</html>