<header class="header">
    <nav>
        <ul class="card-title">
            <li>
                <a href="/">
                    <img src="assets/game.png">
                    <p>Game</p>
                </a>
            </li>
            <li>
                <a href="/stats">
                    <img src="assets/user-man.png">
                    {{!-- <img src="assets/user-woman.png"> --}}
                    <p>Stats</p>
                </a>
            </li>
            <li>
                <a href="/players">
                    <img src="assets/best.png">
                    <p>Best players</p>
                </a>
            </li>
            <li>
                <a href="/signIn">
                    <img src="assets/login.png">
                    <p>Sign In</p>
                </a>

                {{!-- <a href="/signIn">
                    <img src="assets/logout.png">
                    <p>Logout</p>
                </a> --}}
            </li>
        </ul>
    </nav>
</header>