<!DOCTYPE html>
<html>
    {{> head title="Main"}}
    <body>
      {{> header}}
      <main>
        <div class="cont_r">
          <section class="fight-section">
            <div class="player-1"></div>
            <div class="controls"></div>
            <div class="player-2"></div>
            <div class="ships-1"></div>
            <div class="ships-2"></div>
          </section>
        </div>
      </main>
    </body>
    <script src="js/main.js"></script>
</html>